<div class="containerHome">
  <div class="row justify-content-md-center">
    <div class="col-4 title">
      Welcome To Optometrist UI!
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-2">
        <button type="button" style="width:100%" class="btn btn-primary" (click)="triggerSelection(false)">Left Preferred</button>
    </div>
    <div class="col-lg-2">
        <button type="button" style="width:100%" class="btn btn-primary" (click)="triggerSelection(true)">Right Preferred</button>
    </div>
  </div>
  <div class="row justify-content-md-center">
      <div class="col-lg-2">
          {{name}}
      </div>
      <div class="col-lg-2">
      </div>
    </div>
</div>
